@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #cfcfcd;
}
/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f8f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(110, 110, 110);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(160, 158, 158);
}
