.main_container {
  background-color: #dfdede;
  height: 100%;
  margin-top: 20px;
  display: flex;
  padding-bottom: 40px;
}
.patients {
  flex: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.patients_content {
  width: 80%;
  height: 40px;
  margin-top: 10px;
}
.patients_content.heading {
  display: flex;
  align-items: center;
}
.patients_content.input {
  position: relative;
}
input {
  width: 100%;
  height: 32px;
  padding-left: 15px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
}
.search_icon {
  position: absolute;
  top: 20%;
  right: 6%;
}
.patients_content.users {
  height: 50px;
  margin-bottom: 5px;
}
.user {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
}
.dot {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: rgb(16, 194, 16);
  border-radius: 50%;
  top: 40%;
  right: 7%;
}
.dot.red {
  background-color: rgb(236, 47, 47);
}
.user:hover {
  background-color: #00a0f0;
}
img {
  height: 40px;
  border-radius: 50%;
}
.avatar_img {
  margin-top: 6px;
  margin-left: 20px;
  margin-right: 10px;
}
.user h2 {
  font-size: 14px;
}
.user p {
  font-size: 10px;
}
.patients_info {
  flex: 80%;
  display: flex;
  flex-direction: column;
}
.user_img img {
  height: 60px;
  border-radius: 50%;
}
.user_img {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 100px;
  margin-right: 15px;
}
.patients_content.heading.rightpart {
  margin-bottom: 20px;
}
.data {
  display: flex;
  height: 250px;
  font-size: 13px;
  flex: 0.4;
}

.details {
  width: 100%;
}
.info {
  display: flex;
}
.data1,
.data2,
.data3,
.data4 {
  flex: 1;
  display: flex;
  height: 100%;
}
.data4 {
  flex: 0.6;
}
.data1 p {
  margin-bottom: 10px;
}
.data2 p {
  margin-bottom: 10px;
}
.data3 p {
  margin-bottom: 10px;
}
.data4 p {
  margin-bottom: 10px;
}
.user_name {
  padding-bottom: 10px;
}
.data1 .keys {
  width: 70px !important;
}
.data2 .keys {
  width: 100px !important;
}
.data3 .keys {
  width: 170px !important;
}
.data3 .values {
  width: 150px !important;
}
.data4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.data4 .yes {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(6, 141, 6);
  border-radius: 50%;
}
.yes p {
  font-weight: bold;
  color: #fff;
  margin-bottom: 0;
}
.secondary_data {
  flex: 0.6;
  background-color: #fff;
  position: relative;
  border-radius: 5px;
}
.navigations {
  position: absolute;
  width: 100%;
  height: 50px;
  top: -16%;
  display: flex;
}
.navigations div {
  width: 100px;
  text-align: center;
  font-size: 13px;
  margin-right: 3px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}
.first {
  margin-left: 60px;
  color: #00a0f0;
}
.last {
  width: 180px !important;
}
.comments {
  font-size: 13px;
  height: 100%;
  width: 50%;
  margin-left: 60px;
}
.comment_1,
.comment_2,
.comment_3 {
  width: 100%;
  margin-bottom: 20px;
}
.comment_1 {
  margin-top: 30px;
}
.ques {
  background-color: #e8f5fe;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.ans {
  padding-left: 10px;
  min-height: 30px;
  display: flex;
  align-items: center;
  background-color: rgb(223, 222, 222);
}
.long {
  padding-bottom: 8px;
  padding-top: 6px;
  padding-right: 10px;
}
